<footer>
    <div class="logo">SOHA.</div>
    <div class="footer__links services">
        <h3>Services</h3>
        <a href="" class="footer__link">About</a>
        <a href="" class="footer__link">Taarikh/History</a>
    </div>
    <div class="footer__links assistance">
        <h3>Assistance</h3>
        <a href="" class="footer__link">Help</a>
        <a href="" class="footer__link">FAQ</a>
        <a href="" class="footer__link">Contact</a>
    </div>
    <div class="footer__links roles">
        <h3>Roles</h3>
        <a href="" class="footer__link">Voluntery Roles</a>
        <a href="" class="footer__link">Become a Developer</a>
        <a href="" class="footer__link">Github Repo</a>
    </div>
    <div class="socials__icon__links __sil__footer">
        <a href="" class="__socials s-link"><img src="../../static/images/socials/icons8-twitter-48.png" alt="twitter-icon"></a>
        <a href="" class="__socials s-link"><img src="../../static/images/socials/icons8-linkedin-circled-48.png" alt="linkedin-icon"></a>
        <a href="" class="__socials s-link"><img src="../../static/images/socials/icons8-instagram-48.png" alt="insta-icon"></a>
        <a href="" class="__socials s-link"><img src="../../static/images/socials/icons8-facebook-48.png" alt="fb-icon"></a>
    </div>
</footer>